<h1>最新情報</h1>

<div class="google_docs">
  <iframe src="https://docs.google.com/document/d/e/2PACX-1vR7UFJX_605k7FVf7AnZ2NvmyNY4yg2kj07aM48ScNBfLEaRBHu2yDL6EMfaXU47HibBijkiCof66bs/pub?embedded=true"></iframe>
</div>
